<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>云梯工具</title>
<script
  src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"
></script>
</head>
<body>

<textarea id ="textArea1" cols="50" rows="30">
</textarea>
&nbsp;

<textarea id ="textArea2" cols="50" rows="30"></textarea>
<br>



<button id ="button1"> 提 交 </button>

<button id ="button2"> 提 交2 </button>

<button id ="button3"> 提 交3 </button>
<button id ="button4"> 提 交4换行 </button>
<script type="text/javascript">

$("#button1").click(function (){
	var textArea1 = $("#textArea1").val();
	var arry = textArea1.split("\n");
	var textArea2="";
	var length =arry.length-1;
	/* alert(length); */
	for(temp in arry) {
		if(temp ==0 ){
			textArea2 = textArea2+"'";
		}
		if(length == temp){
			textArea2 = textArea2 + arry[temp] +"'";
		}else{
			textArea2 = textArea2 + arry[temp] +"','";
		}
	}
	$("#textArea2").val(textArea2);
});



$("#button2").click(function (){
	var textArea1 = $("#textArea1").val();
	var arry = textArea1.split("\n");
	var textArea2="";
	var length =arry.length-1;
	/* alert(length); */
	for(temp in arry) {
		if(temp ==0 ){
			textArea2 = textArea2+"";
		}
		if(length == temp){
			textArea2 = textArea2 + arry[temp] +"";
		}else{
			textArea2 = textArea2 + arry[temp] +",";
		}
	}
	$("#textArea2").val(textArea2);
});

$("#button3").click(function (){
	var textArea1 = $("#textArea1").val();
	var arry = textArea1.split("\n");
	var textArea2="";
	var length =arry.length-1;
	/* alert(length); */
	for(temp in arry) {
		if(temp ==0 ){
			textArea2 = textArea2+"\\\"";
		}
		if(length == temp){
			textArea2 = textArea2 + arry[temp] +"\\\"";
		}else{
			textArea2 = textArea2 + arry[temp] +"\\\",\\\"";
		}
	}
	$("#textArea2").val(textArea2);
});


$("#button4").click(function (){
	var textArea1 = $("#textArea1").val();
	var arry = textArea1.split("\n");
	var textArea2="";
	var length =arry.length-1;
	/* alert(length); */
	for(temp in arry) {
		if(temp ==0 ){
			textArea2 = textArea2+"'";
		}
		if(length == temp){
			textArea2 = textArea2 + arry[temp] +"'\n";
		}else{
			textArea2 = textArea2 + arry[temp] +"',\n'";
		}
	}
	$("#textArea2").val(textArea2);
});

</script>
</body>
</html>